.Poster
	background-image: url('../img/hairbackground2.jpg')
	background-repeat: no-repeat
	background-size: cover
	text-align: center
	&__text
		font-size 2.3rem
		text-transform: uppercase
		color: $c_white
		padding: 3.5rem 2rem
		letter-spacing: 2px