.TopLine
    &__container
        position relative
    &__box
        display none  
    &__flex
        display block
        text-align center
        padding 1.5rem 0
        height auto
    &__item
        display table
        margin 1rem auto
    &__content
        width: 14rem
    &__arrow
        display block
        margin 0 auto
        cursor pointer
    &__arrow_top
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
