-
	let
		Portfoliofilters = [                                    
							   
					{
						name: "Все",
						group:"all",
						icon:'all'
					},
							   
					{
						name: "Парикмахерские услуги",
						group:"space",
						icon:'scissors'                        
					},
							   
					{
						name: "Визаж и макияж",
						group:"animal",
						icon:'eyelash_1' 
					},
							   
					{
						name: "Ногтевой сервис",
						group:"nature",
						icon:'fingernail' 
					},
					{
						name: "Косметология",
						group:"frut",
						icon:'cosmetology' 
					},
			   
				]
-
	let
		PortfolioSlides = [
							{
								group: 'space all',
								src:ImagesData['1']['names']['767x511'],
								alt:ImagesData['1']['alt'],
								overlayText: LinksData['pages']['Experience--1']['name'],
								href: LinksData['pages']['Experience--1']['href'],
							},
							{
								group:'space all' ,
								src:ImagesData['2']['names']['767x511'],
								alt:ImagesData['2']['alt'],
								overlayText:'Короткие и гламурные',
								href:'#',
							},
							{
								group: 'animal all',
								src:ImagesData['13']['names']['767x511'],
								alt:ImagesData['13']['alt'],
								overlayText:'Короткие и гламурные',
								href:'#',
							},
							{
								group:'animal nature all',
								src:ImagesData['10']['names']['767x511'],
								alt:ImagesData['10']['alt'],
								overlayText:'Короткие и гламурные',
								href:'#',
							},
							{
								group: 'space all',
								src:ImagesData['19']['names']['767x511'],
								alt:ImagesData['19']['alt'],
								overlayText:'Свадебный стиль волос',
								href:'#',
							},
							{
								group:'space all',
								src:ImagesData['5']['names']['767x511'],
								alt:ImagesData['5']['alt'],
								overlayText:'Свадебный стиль волос',
								href:'#',
							},
							{
								group: 'animal all',
								src:ImagesData['6']['names']['767x511'],
								alt:ImagesData['6']['alt'],
								overlayText:'Короткие и гламурные',
								href:'#',
							},
							{
								group:'animal nature all',
								src:ImagesData['13']['names']['767x511'],
								alt:ImagesData['13']['alt'],
								overlayText:'Короткие и гламурные',
								href:'#',
							},
							{
								group:'nature all'  ,
								src:ImagesData['10']['names']['767x511'],
								alt:ImagesData['10']['alt'],
								overlayText:'Короткие и гламурные',
								href:'#',
							},
							{
								group:'frut all',
								src:ImagesData['17']['names']['767x511'],
								alt:ImagesData['17']['alt'],
								overlayText:'Короткие и гламурные',
								href:'#',
							},
							{
								group: 'space all',
								src:ImagesData['18']['names']['767x511'],
								alt:ImagesData['18']['alt'],
								overlayText:'Свадебный стиль волос',
								href:'#',
							},
							{
								group:'space all' ,
								src:ImagesData['19']['names']['767x511'],
								alt:ImagesData['19']['alt'],
								overlayText:'Короткие и гламурные',
								href:'#',
							},
							{
								group: 'animal all',
								src:ImagesData['5']['names']['767x511'],
								alt:ImagesData['5']['alt'],
								overlayText:'Короткие и гламурные',
								href:'#',
							},
							{
								group:'animal nature all',
								src:ImagesData['1']['names']['767x511'],
								alt:ImagesData['1']['alt'],
								overlayText:'Короткие и гламурные',
								href:'#',
							},
							{
								group:'nature all' ,
								src:ImagesData['13']['names']['767x511'],
								alt:ImagesData['13']['alt'],
								overlayText:'Короткие и гламурные',
								href:'#',
							},
							{
								group:'nature all',
								src:ImagesData['10']['names']['767x511'],
								alt:ImagesData['10']['alt'],
								overlayText:'Короткие и гламурные',
								href:'#',
							},
							   
							{
								group: 'space all',
								src:ImagesData['17']['names']['767x511'],
								alt:ImagesData['17']['alt'],
								overlayText:'Свадебный стиль волос',
								href:'#',
							},
							{
								group:'space all',
								src:ImagesData['18']['names']['767x511'],
								alt:ImagesData['18']['alt'],
								overlayText:'Свадебный стиль волос',
								href:'#',
							},
							{
								group: 'animal all',
								src:ImagesData['19']['names']['767x511'],
								alt:ImagesData['19']['alt'],
								overlayText:'Короткие и гламурные',
								href:'#',
							},
							{
								group:'animal nature all',
								src:ImagesData['5']['names']['767x511'],
								alt:ImagesData['5']['alt'],
								overlayText:'Короткие и гламурные',
								href:'#',
							},
							{
								group:'nature all' ,
								src:ImagesData['1']['names']['767x511'],
								alt:ImagesData['1']['alt'],
								overlayText:'Короткие и гламурные',
								href:'#',
							},
							{
								group:'frut all',
								src:ImagesData['13']['names']['767x511'],
								alt:ImagesData['13']['alt'],
								overlayText:'Короткие и гламурные',
								href:'#',
							},
						];
