- 
	let bannerData = [
							{	
								src:'../img/woman6.png',
								title : 'Побалуйте себя',
								caption: 'С нашей интенсивной обработкой',
								text:'Салоны красоты – это оазис прекрасного среди повседневных забот и суеты, а также наслаждение от приятных'
							},
							{	
								src:'../img/woman7.png',
								title : 'Быть красивой легко',
								caption: 'Начни с прически',
								text:'Салоны красоты – это оазис прекрасного среди повседневных забот и суеты, а также наслаждение от приятных'
							},
							{	
								src:'../img/woman11.png',
								title : 'Побалуйте себя',
								caption: 'С нашей интенсивной обработкой',
								text:'Салоны красоты – это оазис прекрасного среди повседневных забот и суеты, а также наслаждение от приятных'
							},
						]