@import '0-xl*.styl'
@import '1-lg*.styl'
.Banner
.Banne__stage
		height 40rem
.Banne__imgBox
		display none
.Banne__content
		display flex
		flex-direction: column
		align-items: center
		width: 100%
		text-align: center
		top:50%
		left 50%
		transform: translate(-50%,-50%)
.Banne__title
		font-size 5rem
.Banne__caption
		font-size 3rem
.Banne__text
		padding: 2rem 1.5rem
		font-size 1.5rem

.owl-carousel .owl-item.active .Banner__content
	opacity 1
	visibility visible
	transform: scale(1) translate(-50%,-50%) 