@import '0-xl*.styl'
@import '1-lg*.styl'
@import '2-md*.styl'
.Banner
	&__stage
		height 35rem
	&__title
		font-size 4rem
	&__caption
		font-size 2rem
	&__text
		display none
.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev
	font-size: 6rem
