.Panel    
    padding: 0

    background-image url('../img/subpagebackground5.jpg')
    background-attachment: fixed
    background-size: auto 90%
    background-repeat: no-repeat
    background-position: top right

    
.Panel__Container
    display flex 
    justify-content flex-end
    flex-direction column
    height 310px
.Panel__Title
    font-size 40px
    font-weight 700
    letter-spacing 2px
    




