.Service-Content
	padding: 60px 1.5rem
	display flex

.Service-Content__Row
	display: flex;
	padding-bottom: 30px

.Service-Content__Column
	display: flex;
	flex-direction: column
	justify-content: space-between
	padding: 0 15px
	flex-grow: 1
	width 100%

.Service-Content__Aside
	padding-right: 30px

.Service-Content__Img
	max-width 100%
	vertical-align: top;
.Service-Content__Contacts-info
	padding-bottom: 30px

.Service-Content__Title
	font-family $ff_0
	font-size 20px
	font-weight 400
	padding: 15px 0
	color: $c_black
	text-transform: uppercase
	text-align: left

.Service-Content__Title_view_pale
	color $c_black_2

.Service-Content__Text
	padding: 10px 0;
	color: $c_black_2
	font-size 14px
	line-height 1.5