.Service-Content
	padding-top: 30px
	display flex
.Service-Content__Aside
	padding-right: 30px
.Service-Content__Main
	padding 0
	overflow hidden
.Service-Content__Aside-title
	color $c_black_2
	font-family $ff_0
	font-weight 300
	padding 20px 0
.Service-Content__Img
	max-width 100%
	vertical-align: top;
.Service-Content__Contacts-info
	padding-bottom: 30px
.Service-Content__Content
	display: flex;
	padding-bottom: 30px 
.Service-Content__Content-row
	display: flex;
.Service-Content__Content-row-2
	display flex
	flex-direction: column
	justify-content space-between
.Service-Content__Content_Reverse-row
	flex-direction: row-reverse
.Service-Content__Content-column
	width:50%
	padding: 0 15px;
.Service-Content__Title
	font-family $ff_0
	font-size 20px
	font-weight 400
	padding: 15px 0
	color: $c_black
	text-transform: uppercase
.Service-Content__Content-column p 
	padding: 10px 0;
	color: $c_black_2
	font-size 14px
	line-height 1.5