.Service-Content__Main
	padding-top: 30px
	display flex
.Service-Content__Aside
	padding-right: 30px

.Service-Content__Aside-title
	color $c_black_2
	font-family $ff_0
	font-weight 300
	padding 20px 0

.Service-Content__Contacts-info
	padding-bottom: 30px

.Service-Content__Content-row
	display flex

