.Service-Content__Main
	display block
.Service-Content__Aside
	text-align: center
	padding-right 0
.Service-Content__Service-Menu
	width: 100%
	padding 10px
.Service-Content__Contacts-info,
.Service-Content__Aside-title
	display: none
.Service-Content__Content-row
	display flex
	flex-direction: column
	align-items: center
.Service-Content__Img
	display none
.Service-Content__Content-column
	width 100%
.Service-Content__Content
	display block
