.Service-Content
	padding: 60px 1.5rem
	display flex
	&__Row
		display: flex;
		padding-bottom: 30px

	&__Column
		display: flex;
		flex-direction: column
		justify-content: space-between
		padding: 0 15px
		flex-grow: 1
		width 100%
	&__Column_start
		justify-content: flex-start

	&__Aside
		padding-right: 30px

	&__Img
		max-width 100%
		vertical-align: top;
	&__Contacts-info
		padding-bottom: 30px

	&__Title
		font-family $ff_0
		font-size 20px
		font-weight 400
		padding: 15px 0
		color: $c_black
		text-transform: uppercase
		text-align: left

	&__Title_view_pale
		color $c_black_2

	&__Text
		padding: 10px 0;
		color: $c_black_2
		font-size 14px
		line-height 1.5
	&__Context
		padding: 10px 15px