include ServiceContentData
mixin Service-Content--All
	section.Service-Content.Container
		+Service-Content__Aside
		main.Service-Content__Main
			.Service-Content__Row
				+Card(ServiceBannerData[0])
				+Card(ServiceBannerData[1])
			.Service-Content__Row
				+Card(ServiceBannerData[2])
				+Card(ServiceBannerData[3])
			.Service-Content__Row
				+Card(ServiceBannerData[4])
				+Card(ServiceBannerData[5])

mixin Service-Content--Services(x)
	section.Service-Content.Container
		+Service-Content__Aside
		main.Service-Content__Main
			.Service-Content__Row.Service-Content__Img-Box
				.Service-Content__Column
					img.Service-Content__Img(src="img/"+ x.img1)(alt= x.alt1)
				.Service-Content__Column
					img.Service-Content__Img(src="img/"+ x.img2)(alt= x.alt2)
					img.Service-Content__Img(src="img/"+ x.img3)(alt= x.alt3)
			.Service-Content__Context
					if currentPage==='Визаж и макияж'
						include ../Context/context-makeUp.pug
					else if currentPage==='Парикмахерские услуги'
						include ../Context/context-hairStyling.pug
					else if currentPage==='Массаж'
						include ../Context/context-massage.pug
					else if currentPage==='Ногтевой сервис'
						include ../Context/context-nailart.pug
					else if currentPage==='Солярий'
						include ../Context/context-solarium.pug
					else if currentPage==='Косметология'
						include ../Context/context-cosmetology.pug


mixin Service-Content__Aside
		aside.Service-Content__Aside
			+Service-Menu('Service-Content__Service-Menu')
			h2.Service-Content__Title.Service-Content__Title_view_pale Наши Контакты
			+Contacts-info('Service-Content__Contacts-info')