- 
	let ServiceBannerData = [
								{
									src: "../img/" + ImagesData['7']['names']['590x363'],
									alt: ImagesData['7']['alt'],
									title: 'Парикмахерские услуги',
									text: ' Столичный салон красоты и эстетической косметологии «Ирис» предлагает вашему вниманию полноценный комплекс парикмахерских услуг, индивидуальный подход, европейский уровень обслуживания и доступные цены.',
									href: LinksData['pages']['service-hairStyling']['href']
								},
								{
									src: "../img/" + ImagesData['8']['names']['590x363'],
									alt: ImagesData['8']['alt'],
									title: 'Визаж и макияж',
									text: 'Хотите выглядеть непревзойденно, стать настоящей звездой на любом мероприятии или просто поразить своего поклонника при встрече? Профессиональные визажисты салона красоты «Ирис» на практике продемонстрируют вам настоящее искусство преображения.',
									href: LinksData['pages']['service-makeup']['href']
								},
								{
									src: "../img/" + ImagesData['9']['names']['590x363'],
									alt: ImagesData['9']['alt'],
									title: 'Ногтевой сервис',
									text: 'Ухоженность рук – основной признак того, что человек следит за собой и заботится о своем внешнем виде. И ухаживать за своими руками должны не только женщины, но и мужчины. Салон красоты «Ирис» предлагает вам широкий спектр услуг в области ногтевого сервиса.',
									href: LinksData['pages']['service-nailart']['href']
								},
								{
									src: "../img/" + ImagesData['31']['names']['590x364'],
									alt: ImagesData['31']['alt'],
									title: 'Косметология',
									text: 'Наша кожа постоянно подвергается агрессивному воздействию внешних факторов. И это настоящее испытание для нее. Ветер, солнце, пот, холод, хлорированная вода и естественные процессы старения – лишь малый перечень того, что негативно сказывается на красоте нашей кожи.',
									href: LinksData['pages']['service-cosmetology']['href']
								},
								{
									src: "../img/" + ImagesData['36']['names']['590x364'],
									alt: ImagesData['36']['alt'],
									title: 'Массаж',
									text: 'Столичный салон красоты «Ирис» – идеальное место, где можно расслабиться и оздоровить собственный организм при помощи целебного массажа. Профессиональный подход, применение медицинских методик и техник позволяет нашим мастерам предоставлять услуги высочайшего уровня качества',
									href: LinksData['pages']['service-massage']['href']
								},
								{
									src: "../img/" + ImagesData['37']['names']['590x364'],
									alt: ImagesData['37']['alt'],
									title: 'Cолярий',
									text: 'Московский салон красоты и высококачественной косметологии «Ирис» предлагает услуги студии загара. Благодаря инновационному оборудованию, которое обеспечивает оптимальную величину светового потока и подходящую мощность, наши клиенты получают равномерный и бархатный загар практически мгновенно.',
									href: LinksData['pages']['service-solarium']['href']
								},
						
							]