include ServiceBannerData

mixin Service-Banner
	section.Container
		h2.Title
			span.Title__text Наши услуги
		div.Service-Banner
			.Service-Banner__itemContainer
				+Card(ServiceBannerData[0])
				+Card(ServiceBannerData[1])
				+Card(ServiceBannerData[2])
			.Service-Banner__itemContainer
				+Card(ServiceBannerData[3])
				+Card(ServiceBannerData[4])
				+Card(ServiceBannerData[5])
				

