mixin Service-Content__Content-makeup
		section.Service-Content__Content-top
			.Service-Content__Content-column
				img(src="img/12.jpg")
			
			.Service-Content__Content-column
				img(src="img/22.jpg")
				img(src="img/33.jpg")
		section.Service-Content__Content-botom
			p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.
			p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.
