- 
	let 
		ServiceContentData = {
								'cosmetology':{
									'img1': ImagesData['33']['names']['409x473'],
									'alt1': ImagesData['33']['alt'],
									'img2': ImagesData['32']['names']['590x364'],
									'alt2': ImagesData['32']['alt'],
									'img3': ImagesData['34']['names']['360x194'],
									'alt3': ImagesData['34']['alt'],
									'Title1': "Идеальная кожа",
									'Title2': "Лучшие косметологии",
									'Text1': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
									'Text2': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
									'Text3': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
									'Text4': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
								},
								'haiStyling':{
									'img1': ImagesData['7']['names']['409x473'],
									'alt1': ImagesData['7']['alt'],
									'img2': ImagesData['30']['names']['360x194'],
									'alt2': ImagesData['30']['alt'],
									'img3': ImagesData['14']['names']['360x194'],
									'alt3': ImagesData['14']['alt'],
									'Title1': "ПРОФЕССИОНАЛЬНЫЙ СТИЛЬ",
									'Title2': "Хорошая команда",
									'Text1': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
									'Text2': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
									'Text3': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
									'Text4': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
								},
								'makeUp':{
									'img1': ImagesData['8']['names']['409x473'],
									'alt1': ImagesData['8']['alt'],
									'img2': ImagesData['15']['names']['360x194'],
									'alt2': ImagesData['15']['alt'],
									'img3': ImagesData['29']['names']['360x194'],
									'alt3': ImagesData['29']['alt'],
									'Title1': "ИДЕАЛЬНЫЙ МАКИЯЖ",
									'Title2': "ЛУЧШАЯ ПРАКТИКА",
									'Text1': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
									'Text2': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
									'Text3': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
									'Text4': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
								},
								'nailart':{
									'img1': ImagesData['35']['names']['409x473'],
									'alt1': ImagesData['35']['alt'],
									'img2': ImagesData['4']['names']['360x194'],
									'alt2': ImagesData['4']['alt'],
									'img3': ImagesData['28']['names']['360x194'],
									'alt3': ImagesData['28']['alt'],
									'Title1': "ИСКУССТВО ЛЕПКИ НОГТЕЙ",
									'Title2': "ЛИЧНЫЙ КОНТАКТ",
									'Text1': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
									'Text2': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
									'Text3': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
									'Text4': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
								}
								
							}
