mixin Service-Content__Content--all
		section
			.Service-Content__Content-row
				+Card(ServiceBannerInfo[0])
				+Card(ServiceBannerInfo[1])
			.Service-Content__Content-row
				+Card(ServiceBannerInfo[2])
				+Card(ServiceBannerInfo[3])