mixin Service-Content__Aside
	aside.Service-Content__Aside
		+Service-Menu('Service-Content__Service-Menu')
		h2.Service-Content__Aside-title Наши Контакты
		+Contacts-info('Service-Content__Contacts-info')
