mixin Service-Content__Content-makeup
	section.Service-Content__Main
		.Service-Content__Content
			.Service-Content__Content-column
				img.Service-Content__Img(src="img/12.jpg")
			.Service-Content__Content-column.Service-Content__Content-row-2
				img.Service-Content__Img(src="img/22.jpg")
				img.Service-Content__Img(src="img/33.jpg")
		.Service-Content__Content
			.Service-Content__Content-column
				h2.Service-Content__Title ПРОФЕССИОНАЛЬНЫЙ СТИЛЬ
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.
			.Service-Content__Content-column
				h2.Service-Content__Title Хорошая команда
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.
