- 
	let 
		ServiceContentData = {
								'cosmetology':{
									'img1': ImagesData['33']['names']['409x473'],
									'alt1': ImagesData['33']['alt'],
									'img2': ImagesData['32']['names']['590x364'],
									'alt2': ImagesData['32']['alt'],
									'img3': ImagesData['34']['names']['360x194'],
									'alt3': ImagesData['34']['alt'],
								},
								'haiStyling':{
									'img1': ImagesData['7']['names']['409x473'],
									'alt1': ImagesData['7']['alt'],
									'img2': ImagesData['30']['names']['360x194'],
									'alt2': ImagesData['30']['alt'],
									'img3': ImagesData['14']['names']['360x194'],
									'alt3': ImagesData['14']['alt'],
								},
								'makeUp':{
									'img1': ImagesData['8']['names']['409x473'],
									'alt1': ImagesData['8']['alt'],
									'img2': ImagesData['15']['names']['360x194'],
									'alt2': ImagesData['15']['alt'],
									'img3': ImagesData['29']['names']['360x194'],
									'alt3': ImagesData['29']['alt'],
								},
								'nailart':{
									'img1': ImagesData['35']['names']['409x473'],
									'alt1': ImagesData['35']['alt'],
									'img2': ImagesData['4']['names']['360x194'],
									'alt2': ImagesData['4']['alt'],
									'img3': ImagesData['28']['names']['360x194'],
									'alt3': ImagesData['28']['alt'],
								},
								'massage':{
									'img1': ImagesData['41']['names']['409x473'],
									'alt1': ImagesData['41']['alt'],
									'img2': ImagesData['38']['names']['360x194'],
									'alt2': ImagesData['38']['alt'],
									'img3': ImagesData['39']['names']['360x194'],
									'alt3': ImagesData['39']['alt'],
								},
								'solarium':{
									'img1': ImagesData['43']['names']['409x473'],
									'alt1': ImagesData['43']['alt'],
									'img2': ImagesData['44']['names']['360x194'],
									'alt2': ImagesData['44']['alt'],
									'img3': ImagesData['45']['names']['360x194'],
									'alt3': ImagesData['45']['alt'],
								},
								
							}
