mixin Contacts-info(ClassName="")
	ul.Contacts-info(class= ClassName)
		li.Contacts-info__Item
			a.Contacts-info__Link(href="contacts.html")
				+Icons('location','Icons_dark')
				span.Contacts-info__Text Город Москва, улица Керамический проезд дом 53 корп.1
		li.Contacts-info__Item
			a.Contacts-info__Link(href="tel:+74959009797")
				+Icons('call','Icons_dark')
				span.Contacts-info__Text Телефон: +7 495 900 97-97
		li.Contacts-info__Item
			a.Contacts-info__Link(href="mailto:example@yandex.ru")
				+Icons('mail','Icons_dark')
				span.Contacts-info__Text эл. почта: example@yandex.ru
