include BannerData.pug

mixin Banner
	section.Banner.owl-carousel
		each x in bannerData
			div.Banner__stage
				.Banner__imgBox
					img.Banner__img(src="../img/" + x.src alt=x.alt)
				.Banner__content
					span.Banner__title= x.title
					br
					span.Banner__caption= x.caption
					br
					span.Banner__text= x.text
