- 
    let subItems= [
                    {
                        title:"Визаж и макияж",
                        href:"service-makeup.html",
                    },
                    {
                        title:"Парикмахерские услуги",
                        href:"#",
                    },
                    {
                        title:"Ногтевой сервис",
                        href:"#",
                    },
                    {
                        title:"Косметология",
                        href:"#",
                    },
                ];


mixin Service-Menu(blockClass="")
    ul.Service-Menu(class=" "  + blockClass)
        li.Service-Menu__item(class={'Service-Menu__item_active':'Все услуги'===currentSubPage})
            a.Service-Menu__link(href="service-all.html") Все услуги
                +Icons('arrow_up',"Service-Menu__icon")
        each item in subItems
            li.Service-Menu__item(class={'Service-Menu__item_active': item.title===currentSubPage})
                a.Service-Menu__link(href=item.href)= item.title
                    +Icons('arrow_up',"Service-Menu__icon")

            