- 
	let ServiceMenuData= [
					{
						title: LinksData['pages']['service-makeup']['name'],
						href: LinksData['pages']['service-makeup']['href'],
					},
					{
						title: LinksData['pages']['service-hairStyling']['name'],
						href: LinksData['pages']['service-hairStyling']['href'],
					},
					{
						title: LinksData['pages']['service-nailart']['name'],
						href: LinksData['pages']['service-nailart']['href'],
					},
					{
						title: LinksData['pages']['service-cosmetology']['name'],
						href: LinksData['pages']['service-cosmetology']['href'],
					},
				];