.Service-Menu
	list-style none
	display inline-block
	margin 0
	padding 0

.Service-Menu__item 
	padding 0 15px 0 0
	background-color $c_black_3
	border-radius  5px
	cursor pointer
	color $c_black_2
.Service-Menu__item + .Service-Menu__item 
	margin 5px 0

.Service-Menu__item_active
	background-color $c_main
	color $c_white

.Service-Menu__item_active .Service-Menu__icon
	fill $c_white
	
.Service-Menu__item.Service-Menu__item_active:hover .Service-Menu__link
	color $c_white

.Service-Menu__item.Service-Menu__item_active:hover .Service-Menu__icon
	fill $c_white

.Service-Menu__item:hover .Service-Menu__link,
.Service-Menu__item:focus .Service-Menu__link
	color $c_main

.Service-Menu__link
	text-decoration none
	color inherit
	font-size 16px
	letter-spacing 1px
	padding 0.8em 0.5em 0.8em 2em
	display flex 
	justify-content space-between
	white-space nowrap


.Service-Menu__icon
	display inline-block
	margin-left 2em
	transform rotate(90deg)

