.Portfolio
    background-color: $c_main_2
    padding: 2rem 0

.Portfolio__header
    display flex
    justify-content space-between
    align-items: center
    padding: 2rem 0

.Portfolio__title
    color: $c_white
    font-weight 300
    font-family $ff_0
    font-size 2.8rem

.Portfolio__filters
    text-align: center
.Portfolio__filter
    list-style none
    display inline-block
    padding: 1rem 
    cursor pointer

.Portfolio__filterText
    color: $c_black_2
    display inline-block
    font-family $ff_0
    font-weight: 300

.Portfolio__filter:hover .Portfolio__filterText,
.Portfolio__filter_active .Portfolio__filterText
    color: $c_white

.Portfolio__filterIconBox
    display none
        
.Portfolio__filterIcon
    fill $c_black_2
    height 2.5rem
    width 2.5rem

.Portfolio__filter_active .Portfolio__filterIcon,
.Portfolio__filter:hover .Portfolio__filterIcon
    fill $c_white

.Portfolio__navBox
    position relative
    padding: 4rem 0 2rem 0;
    display flex
    justify-content center

.Portfolio__arrow
    border-radius: 5px
    border: 1px solid $c_white
    background-color: transparent
    display: inline-block
    padding: 1rem
    cursor pointer
    transition: 0.3s

.Portfolio__arrow + .Portfolio__arrow
    margin-left: 0.5rem 

.Portfolio__arrow:hover        
    color: $c_white
    border-color: $c_white
    overflow hidden
.Portfolio__arrowIcon
    height 1.8rem
    width 1.8rem
    transform: rotate(-90deg)
    fill $c_white
    transition: 0.3s

.Portfolio__arrowNext:hover .Portfolio__arrowIcon
    fill: $c_white
    transform:rotate(-90deg) translateY(3px)

.Portfolio__arrowPrev:hover .Portfolio__arrowIcon
    fill: $c_white
    transform:rotate(-90deg) translateY(-3px)

