$PageHeading-pt = 5.5rem


.PageHeading
    padding-top: $PageHeading-pt
    padding-bottom: $PageHeading-pt
    background-color: $c_black_3
.PageHeading__title
    color: $c_main
    font-size 4.8rem
    letter-spacing: 2px
    font-family $ff_1
    font-weight: 300
    text-align: center

