.Card
    max-width: 50rem
    overflow hidden
    padding: 0px 1.5rem
    display flex
    flex-direction: column
    justify-content: space-around
.Card__link
    text-decoration: none
    display: block
.Card__imgBox
    overflow hidden
.Card__img
    transition: transform 0.4s
    max-width 100%
.Card__title
    padding: 2rem 0
    font-family $ff_0
    font-size: 1.9rem
    font-weight 400
    letter-spacing: 1px
    color $c_black
.Card__text
    color: $c_black_2
    font-size: 1.4rem
    line-height 1.5
    font-style: italic
    letter-spacing: none
.Card__btnBox
    flex-grow: 1
    display flex
    align-items: flex-end
.Card__btn
    margin: 1rem -1rem
.Card:hover .Card__img
    transform: scale(1.3)