.Panel    
	padding: 0	
	background-attachment: fixed
	background-size: auto 65%
	background-repeat: no-repeat
	background-position: top right
.Panel.Panel_view_all
	background-image url('../img/subpagebackground5.jpg')
.Panel.Panel_view_makeup
	background-image url('../img/subpagebackground8.jpg')
.Panel.Panel_view_nailart
	background-image url('../img/subpagebackground11.jpg')
.Panel__Container
	display flex 
	justify-content flex-end
	flex-direction column
	height 310px
.Panel__Title
	font-size 40px
	font-weight 700
	letter-spacing 2px
	




