.Panel    
	padding: 0	
	background-attachment: fixed
	background-size: auto 65%
	background-repeat: no-repeat
	background-position: top right
.Panel.Panel_view_all
	background-image url('../img/6-1900x530.jpg')
.Panel.Panel_view_makeup
	background-image url('../img/22-1900x530.jpg')
.Panel.Panel_view_hairStyling
	background-image url('../img/21-1900x530.jpg')
.Panel.Panel_view_nailart
	background-image url('../img/4-1900x530.jpg')
.Panel.Panel_view_cosmetology
	background-image url('../img/23-1600x585.jpg')
.Panel__Container
	display flex 
	justify-content flex-end
	flex-direction column
	height 310px
.Panel__Title
	font-size 40px
	font-weight 700
	letter-spacing 2px




