mixin Footer
	footer.Footer
		.Container
			.Footer__top
				.Footer__card
					h3.Footer__title НАВИГАЦИЯ
					ul.Footer__content
						each item in navData.navItems
							if !item.subItems
								li.Footer__item
									a.Footer__link(href=item.href)= item.title
							else
								li.Footer__item
									a.Footer__link(href=item.href)= item.title
								each subItem in item.subItems
									li.Footer__item.Footer__item_toRight
										a.Footer__link(href=subItem.href)= subItem.title
				.Footer__card
					h3.Footer__title Контакты
					+Contacts-info()
				.Footer__card
					h3.Footer__title ВРЕМЯ ОТКРЫТИЯ
					ul.Footer__content
						li.Footer__item 
							span.Footer__item_light Понидельник 
							span 10:00 - 21:00
						li.Footer__item 
							span.Footer__item_light Вторник 
							span 10:00 - 21:00
						li.Footer__item 
							span.Footer__item_light Среда 
							span 10:00 - 21:00
						li.Footer__item 
							span.Footer__item_light Четверг 
							span 10:00 - 21:00
						li.Footer__item 
							span.Footer__item_light Пятница 
							span 10:00 - 21:00
						li.Footer__item 
							span.Footer__item_light Суббота 
							span 10:00 - 20:00
						li.Footer__item
							span.Footer__item_light Воскресение 
							span 10:00 - 20:00
		p.Footer__bottom  © Copyright 2018, Все права защищены