mixin Footer__item(_x)
		each item in _x
			if !item.subItems
				li.Footer__item
					a.Footer__link(href=item.href)= item.title
			else
				li.Footer__item
					a.Footer__link(href=item.href)= item.title
				each subItem in item.subItems            
					li.Footer__item.Footer__item_toRight
						a.Footer__link(href=subItem.href)= subItem.title

mixin Footer
	footer.Footer
		.Container
			.Footer__top
				.Footer__card
					h3.Footer__title НАВИГАЦИЯ
					ul.Footer__content
						+Footer__item(navData.navItems)
				.Footer__card
					h3.Footer__title Контакты
					+Contacts-info()
				.Footer__card
					h3.Footer__title ВРЕМЯ ОТКРЫТИЯ
					ul.Footer__content
						li.Footer__item 
							span.Footer__item_light Понидельник 
							span 08:00 - 19:00
						li.Footer__item 
							span.Footer__item_light Вторник 
							span 08:00 - 19:00
						li.Footer__item 
							span.Footer__item_light Среда 
							span 08:00 - 19:00
						li.Footer__item 
							span.Footer__item_light Четверг 
							span 08:00 - 19:00
						li.Footer__item 
							span.Footer__item_light Пятница 
							span 08:00 - 19:00
						li.Footer__item 
							span.Footer__item_light Суббота 
							span 08:00 - 19:00
						li.Footer__item
							span.Footer__item_light Воскресение 
							span.Footer__item_close Закрыто
		p.Footer__bottom  © Copyright 2018, Все права защищены