.Title
    padding: 5rem 0 3rem 0    
    text-align: center
    &__text
        padding: 0 6rem 2rem 6rem         
        font-family $ff_0
        font-size: 3rem
        font-weight: 400
        letter-spacing: 2px
        color: $c_black
        border-bottom: 1px solid $c_black_3 