.Panel    
	padding: 0	
	background-attachment: fixed
	background-size: auto 65%
	background-repeat: no-repeat
	background-position: top right
	&&_view_all
		background-image url('../img/6-1900x530.jpg')
	&&_view_makeup
		background-image url('../img/22-1900x530.jpg')
	&&_view_hairStyling
		background-image url('../img/21-1900x530.jpg')
	&&_view_nailart
		background-image url('../img/4-1900x530.jpg')
	&&_view_cosmetology
		background-image url('../img/23-1937x530.jpg')
	&&_view_massage
		background-image url('../img/40-1920x530.jpg')
	&&_view_solarium
		background-image url('../img/42-1700x530.jpg')
	&__Container
		display flex 
		justify-content flex-end
		flex-direction column
		height 310px
	&__Title
		font-size 40px
		font-weight 700
		letter-spacing 2px




