include ../Blocks/Page-config/Page-config
include ../Blocks/TopLine/pug/TopLine
include ../Blocks/Nav/pug/Nav
include ../Blocks/Banner/pug/Banner
include ../Blocks/Contacts/pug/Contacts
include ../Blocks/Footer/pug/Footer




- let currentPage = "Контакты"

doctype html
head
	+Page-config
body
	// Begin TopLine
	+TopLine('Container')
	// End TopLine
	//Begin nav	
	+Nav
	// End nav
	//Begin Contacts
	+Contacts
	// End Contacts

	//Begin Footer
	+Footer
	// End Footer


	+Page-config__scripts
