include ../Blocks/Page-config/Page-config
include ../Blocks/TopLine/pug/TopLine
include ../Blocks/Nav/pug/Nav
include ../Blocks/Banner/pug/Banner
include ../Blocks/Breadcrumb/pug/Breadcrumb
include ../Blocks/PageHeading/pug/PageHeading
include ../Blocks/Gallary/pug/Gallary
include ../Blocks/Footer/pug/Footer



- let currentPage = "Галерея"

doctype html
head
	+Page-config
body
	// Begin TopLine
	+TopLine('Container')
	// End TopLine
	//Begin nav	
	+Nav
	// End nav
	//Begin PageHeading
	+PageHeading(currentPage)
	// End PageHeading
	//Begin Breadcrumb
	+Breadcrumb(currentPage,"BredcrumbForPortfolio")
	// End Breadcrumb
	//Begin Gallary
	+Gallary
	// End Gallary
	//Begin Footer
	+Footer
	// End Footer


	+Page-config__scripts
