.Contacts
    display flex


.Cpntacts__map
    height 600px
    overflow hidden
    flex-grow: 1

.Contacts__content
    font-family $ff_0
    color: $c_black

    padding: 20px 40px

.Contatcs__caption
    font-family inherit
    font-weight 400
    font-size 30px
    letter-spacing: 1px
    text-align: left
    color: inherit

.Contatcs__label
    font-family inherit
    font-weight 700
    font-size 18px
    text-align: left
    color: inherit

    padding: 20px 0

.Contacts__list
    list-style: none

.Contacts__item
    font-family inherit 
    font-size 14px
    font-weight 400
    color $c_black_2

    padding: 10px 0

.Contacts__item::first-child
    padding: 30px 10px

.Contacts__item:hover .Contacts__link
    color $c_main
.Contacts__link
    font-family inherit 
    font-style inherit
    font-weight inherit
    color inherit
    text-decoration: none
 