
-	
		let navData ={
				navItems: [
								{
									title:"Главная",
									href:"index.html",
								},
								{
									title:"Наш опыт",
									href:"portfolio.html",
								},
								{
									title:"Услуги",
									href:"#",
									subItems: [
												{
													title:"Визаж и макияж",
													href:"#",
												},
												{
													title:"Парикмахерские услуги",
													href:"#",
												},
												{
													title:"Ногтевой сервис",
													href:"#",
												},
												{
													title:"Косметология",
													href:"#",
												},
											],
								},
								{
									title:"Галерея",
									href:"#",
								},
								{
									title:"О Нас",
									href:"#",
								},
								{
									title:"Контакты",
									href:"#",
								},
							],
					}	


