
.Price__filters
    list-style none
    text-align: center
    margin-top: 3rem
.Price__filter
    display: inline-block
.Price__filter + .Price__filter
    margin-left:2rem
.Price__container
    width: 80%
    margin:  8rem auto
.Price__section:not(:first-child)
    display: none
.Price__item
    font-family $ff_0
    color $c_main
    font-weight 700
    margin: 1rem
    letter-spacing: 1px
    background-color $c_white
    display flex
    justify-content: space-between
    align-items: center
    cursor pointer
.Price__subItems
    list-style: none
    display block
.Price__subItem
    font-family $ff_0
    color $c_black_2
    font-style: italic
    padding: 1rem 3rem 1rem 5rem
    letter-spacing: 1px
    display flex
    justify-content space-between
.Price__subItemTitle
    font-weight 300
    white-space: normal
    padding-right: 1rem
    flex-grow: 0
.Price__subItemDivider
    border-bottom 1px dashed $c_main
    flex-grow: 1
.Price__subItemPrice
    white-space: nowrap
    padding-left: 1rem
    flex-grow: 0






