@import '0-xl*.styl'
@import '1-lg*.styl'
.Portfolio__header
    flex-direction: column
    padding: 2rem 0
.Portfolio__title
    padding-bottom: 2rem
.Portfolio__arrowIcon
    height 1.8rem
    width 1.8rem
