.Icons
    height 2rem
    width 2rem
    fill $c_white
.Icons_light
	height 2.5rem
	width 2.5rem
	cursor pointer
	fill $c_white
.Icons_dark
	cursor pointer
	fill $c_black_2
.Icons_black
	fill $c_black
.Icons_small
	height 1.5rem
	width 1.5rem