mixin Breadcrumb(activeTitle,className='')
	nav.Breadcrumb(class=" "+className)
		.Container
			a.Breadcrumb__item(href= LinksData['pages']['index']['href'])= LinksData['pages']['index']['name']
			span.Breadcrumb__item.Breadcrumb__item_active= activeTitle
