mixin Person(x, c="")
	.Person(class="" + c)
		.Person__Container
			img.Person__img(src=x.src alt="Фотография "+ x.title)
			p.Person__text= x.text
		.Person__Content
			h3.Person__title= x.title
			h4.Person__caption= x.caption