mixin Person(src,title,caption,text,c="")
	.Person(class="" + c)
		.Person__Container
			img.Person__img(src=src)(alt="Фотография "+ title)
			p.Person__text= text
		.Person__Content
			h3.Person__title= title
			h4.Person__caption= caption