.AboutUs
    padding: 5rem 0
    &__Contents
        display flex
    &__Content
        padding: 2rem 2rem 5rem 2rem
        font-family $ff_0
    &__Content-img
        max-width 100%
    &__Content-title
        font-family inherit
        font-size 1.7rem
        padding: 2rem 0
        color: $c_black
        letter-spacing: 1px
    &__Content-text
        font-family inherit
        font-size 1.5rem
        font-style italic
        color: $c_black_2
        line-height 1.5
    &__Persons
        display flex
        justify-content center