- 
	let AboutUsPersonDate= [
						{
							src: ImagesData['24']['names']['370x360'],
							alt: ImagesData['24']['alt'],
							title: "Dona Boss",
							caption:"Владелец и стилист",
							text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis aliquet purus non elementum. Nam quis vulputate enim, congue ullamcorper risus.",
						},
						{
							src: ImagesData['25']['names']['370x360'],
							alt: ImagesData['25']['alt'],
							title: "Yohana Haire",
							caption:"Cтилист",
							text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis aliquet purus non elementum. Nam quis vulputate enim, congue ullamcorper risus.",
						},
						{
							src: ImagesData['26']['names']['370x360'],
							alt: ImagesData['26']['alt'],
							title: "Pamela Red",
							caption:"Парикмахер",
							text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis aliquet purus non elementum. Nam quis vulputate enim, congue ullamcorper risus.",
						},
					];
- 
	let AboutUsContentDate= [
						{
							src: ImagesData['11']['names']['590x363'],
							alt: ImagesData['11']['alt'],
							title: 'ИСТОРИЯ КОМПАНИИ',
							text:'Мы начали парикмахерскую 10 лет назад, с четкой целью быть лучшими в нашем регионе. Наше скромное начало теперь принесло нам быть лучшим салоном когда-либо.',
						},
						{
							src: ImagesData['7']['names']['590x363'],
							alt: ImagesData['7']['alt'],
							title: 'МИССИЯ КОМПАНИИ',
							text:'Наша миссия состоит в том, чтобы стремиться людей, чтобы принести лучшее из них себя. Мы предлагаем фантастический гламур и лучшее лечение с доступной ценой.',
						},
					]