include ../Icons/Icons
-
    let navigationLinks= [
                            {
                            title:"Услуги",
                            href:"#"
                            },
                            {
                            title:"Визаж и макияж",
                            href:"#"
                            },
                            {
                            title:"Парикмахерские услуги",
                            href:"#"
                            },
                            {
                            title:"Ногтевой сервис",
                            href:"#"
                            },
                            {
                            title:"Косметология",
                            href:"#"
                            },
                            ]
mixin Footer__item(x)
        each item in x
            li.Footer__item
                a.Footer__link(href=item.href)= item.title

mixin Footer()
        footer.Footer
            .Container
                .Footer__top
                    .Footer__card
                        h3.Footer__title НАВИГАЦИЯ
                        ul.Footer__content
                            +Footer__item(navigationLinks)
                    .Footer__card
                        h3.Footer__title РАСПОЛОЖЕНИЕ
                        ul.Footer__content
                            li.Footer__item
                                a.Footer__link
                                    +Icons('time','Icons_black')
                                    span.Footer__text 300 Pennsylvania Ave NW, Washington
                            li.Footer__item
                                a.Footer__link(href="tel:+3864022455")
                                    +Icons('call','Icons_black')
                                    span.Footer__text Телефон: +386 40 222 455
                            li.Footer__item
                                a.Footer__link(href="mailto:example@yandex.ru")
                                    +Icons('mail','Icons_black')
                                    span.Footer__text эл. почта: example@yandex.ru
                    .Footer__card
                        h3.Footer__title ВРЕМЯ ОТКРЫТИЯ
                        .Footer__content
            p.Footer__bottom Hairdresser wordpress theme | © 2015 Hairdresser, All rights reserved