.Price__filter
    display: block
.Price__filter + .Price__filter
    margin-left:0
    margin-top:1rem
.Price__container
    width: 100%
    margin: 0
    padding:  4rem 1.5rem
.Price__subItem
    padding: 1rem 1rem 1rem 2rem
.Price__item
    margin: 1rem 0
    font-size 1.4rem
.Price__subItemTitle
    font-size 1.4rem
.Price__subItemPrice
    font-size 1.4rem