extends ../Patterns/common

block var
	- var currentPage = "О Нас"
block header
	+TopLine('Container')
	+Nav
block main
	+Breadcrumb(currentPage,"BredcrumbForAboutUs")
	+AboutUs
block footer
	+Footer
