extends ../Patterns/common

block var
	- var currentPage = "Галерея"	
block header
	+TopLine('Container')
	+Nav
block main
	+PageHeading(currentPage)
	+Breadcrumb(currentPage,"BredcrumbForPortfolio")
	+Gallary
block footer
	+Footer