extends ../Patterns/common
block var
	- let currentPage = "Главная"
block header
	+TopLine
	+Nav
block main
	+Poster('красота в глазах смотрящего')
	+Service-Banner
	+Poster('с понедельника по воскресенье с 10:00 ДО 21:00 МЫ ДОСТУПНЫ ДЛЯ ВАС')
	+Price
	+Portfolio
	+Contacts('Contacts-Section__content_hide')
block footer
	+Footer