extends ../Patterns/common
block var
	- let currentPage = "Главная"
block header
	+TopLine
	+Nav
block main
	+Banner
	+Poster('с понедельника по воскресенье с 8 ДО 21 МЫ ДОСТУПНЫ ДЛЯ ВАС')
	+Service-Banner
	+Portfolio
	+Price
	+Poster('КРАСОТА В ГЛАЗАХ СМОТРЯЩЕГО')
	+Contacts('Contacts-Section__content_hide')
block footer
	+Footer