extends ../Patterns/main.pug
block var
	- let currentPage = "Главная"
block content
	+Banner()
	+Poster('С ПОНЕДЕЛЬНИКА ПО СУББОТУ С 8 ДО 17 МЫ ДОСТУПНЫ ДЛЯ ВАС')
	+ServiceBanner
	+Portfolio
	+Price
	+Poster('КРАСОТА В ГЛАЗАХ СМОТРЯЩЕГО')
