extends ../Patterns/common-01
block var-01
	- let currentPage = "Главная"
block content-01
	+Banner
	+Poster('С ПОНЕДЕЛЬНИКА ПО СУББОТУ С 8 ДО 17 МЫ ДОСТУПНЫ ДЛЯ ВАС')
	+Service-Banner
	+Portfolio
	+Price
	+Poster('КРАСОТА В ГЛАЗАХ СМОТРЯЩЕГО')
