extends ../Patterns/common
block var
	- let currentPage = "Услуги"
	- let currentSubPage = "Все услуги"
	- let currentSubPageBg = "Panel_view_makeup"
block header
	+TopLine('Container')
	+Panel(currentPage)
block main
	+Service-Content--All
block footer
	+Footer
