extends ../Patterns/common
block var
	- let currentPage = "Услуги"
	- let currentSubPage = "Все услуги"
block header
	+TopLine('Container')
	+Panel(currentPage)
block main
	main.Service-Content__Main.Container
		+Service-Content__Aside
		+Service-Content__Content
block footer
	+Footer
