extends ../Patterns/common
block var
	- let currentPage = "Парикмахерские услуги"
	- let currentSubPage = "Парикмахерские услуги"
	- let currentSubPageBg = "Panel_view_hairStyling"
	// Service Content
	- 
			ServiceContentDataMakeUp = {
									'img1': "img/7-409x473.jpg",
									'img2': "img/30-360x194.jpg",
									'img3': "img/14-360x194.jpg",
									'Title1': "ПРОФЕССИОНАЛЬНЫЙ СТИЛЬ",
									'Title2': "Хорошая команда",
									'Text1': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
									'Text2': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
									'Text3': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
									'Text4': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minus aut harum dolorem fuga esse nobis saepe dolore non debitis officiis quas autem, nemo officia modi laudantium voluptates? Velit, sunt.",
								}
block header
	+TopLine('Container')
	+Panel(currentPage)
block main
	+Service-Content--Services(ServiceContentDataMakeUp)
block footer
	+Footer
