extends ../Patterns/common
block var
	- let currentPage = "Услуги"
	- let currentSubPage = "Визаж и макияж"
	- let currentSubPageBg = "Panel_view_all"
block header
	+TopLine('Container')
	+Panel(currentPage)
block main
	main.Service-Content.Container
		+Service-Content__Aside
		+Service-Content__Content-makeup
block footer
	+Footer
