extends ../Patterns/common
block var
	- let currentPage = "Косметология"
	- let currentSubPage = "Косметология"
	- let currentSubPageBg = "Panel_view_cosmetology"
block header
	+TopLine
	+Panel(currentPage)
block main
	+Service-Content--Services(ServiceContentData['cosmetology'])
block footer
	+Footer
