extends ../Patterns/common
block var
	- let currentPage = "Ногтевой сервис"
	- let currentSubPage = "Ногтевой сервис"
	- let currentSubPageBg = "Panel_view_nailart"
block header
	+TopLine
	+Panel(currentPage)
block main
	+Service-Content--Services(ServiceContentData['nailart'])
block footer
	+Footer
