extends ../Patterns/common
block var
	- let currentPage = "Парикмахерские услуги"
	- let currentSubPage = "Парикмахерские услуги"
	- let currentSubPageBg = "Panel_view_hairStyling"
block header
	+TopLine
	+Panel(currentPage)
block main
	+Service-Content--Services(ServiceContentData['haiStyling'])
block footer
	+Footer
