extends ../Patterns/common

block var
	- var currentPage = LinksData['pages']['skills--9']['name']	
block header
	+TopLine
	+Nav

block main
	+PageHeading(currentPage)
	+Breadcrumb(currentPage)
	+Skills(currentPage)
block footer
	+Footer
