.Gallary__Top-Container
	text-align: center
	padding: 4rem 0
.Gallary__items
	margin: 0 auto
	&::after
		content: ""
		display block
		clear: both

.Gallary__item
	width: 33%
	
.Gallary__filters
	list-style: none
	display inline-block
	text-align: center
	
.Gallary__filter
	display inline-block

	padding: 1rem

	color $c_black
	font-size 1.4rem
	cursor pointer
	
.Gallary__filter:hover,
.Gallary__filter:focus,
.Gallary__filter_active
	color $c_main
.Gallary__filter:not(:first-child)
	cursor pointer
.Gallary__filter:not(:first-child) +.Gallary__filter::before
	content: "/"
	color $c_black
	margin-right 1rem
.Gallary__filter-icon
	fill $c_black

