-
	let Prices = [
						{
							text:"Визаж и макияж",
							filter:"makeUp",
							href:'#',
							items:[
									{
										item:"Макияж",
										minPrice:'1 500',
										subItems:[ 
													{
														subItem:'Вечерний макияж',
														price:'2 000',
													},
													{
														subItem:'Дневной макияж',
														price:'1 500',
													},
												]
									},
									{
										item:"Уход за бровями и ресницами",
										minPrice:'390',
										subItems:[
													{
														subItem:'Биозавивка ресниц',
														price:'1 290',
													},
													{
														subItem:'Коррекция и форма бровей',
														price:'390',
													},
													{
														subItem:'Коррекция ресниц',
														price:'1 350',
													},
													{
														subItem:'Ламинирование ресниц',
														price:'2 500',
													},
													{
														subItem:'Наращивание ресниц',
														price:'1 850',
													},
													{
														subItem:'Окрашивание бровей',
														price:'390',
													},
													{
														subItem:'Окрашивание ресниц',
														price:'390',
													},
													{
														subItem:'Снятие ресниц',
														price:'690',
													},
										]
									},
									],
						},
						{
							text:"Парикмахерские услуги",
							filter:"hairdressing",
							href:'#',
							items:[
									{
										item:"Стрижка",
										minPrice:'290',
										subItems:[ 
													{
														subItem:'Барбер стрижка',
														price:'790',
													},
													{
														subItem:'Детская стрижка (до 7 лет)',
														price:'390',
													},
													{
														subItem:'Женская стрижка (длина волос до 25 см, сушка до 10 мин.)',
														price:'490',
													},
													{
														subItem:'Женская стрижка (длина волос от 25 см, сушка до 10 мин.)',
														price:'780',
													},
													{
														subItem:'Коррекция формы бороды',
														price:'390',
													},
													{
														subItem:'Стрижка челки',
														price:'290',
													},
												]
									},
									{
										item:"Мужской зал",
										minPrice:'390',
										subItems:[ 
													{
														subItem:'Мужская стрижка (машинкой)',
														price:'390',
													},
													{
														subItem:'Мужская стрижка (ножницами, стайлинг)',
														price:'490',
													},
												]
									},
									{
										item:"Укладка волос",
										minPrice:'250',
										subItems:[ 
													{
														subItem:'Коктейльная прическа (1 час)',
														price:'990',
													},
													{
														subItem:'Простое плетение (1 коса)',
														price:'250',
													},
													{
														subItem:'Свадебная прическа',
														price:'2 490',
													},
													{
														subItem:'Сложное плетение (1 коса)',
														price:'390',
													},
													{
														subItem:'Укладка',
														price:'590',
													},
													{
														subItem:'Укладка (в составе другой услуги)',
														price:'290',
													},
												]
									},
									{
										item:"Окрашивание волос",
										minPrice:'650',
										subItems:[ 
													{
														subItem:'COUTURE Блондирование',
														price:'1 090',
													},
													{
														subItem:'COUTURE Мелирование красителем (до 15 прядей)',
														price:'1 590',
													},
													{
														subItem:'COUTURE Мелирование пудрой (до 15 прядей)',
														price:'990',
													},
													{
														subItem:'COUTURE Окрашивание (в один тон)',
														price:'1 990',
													},
													{
														subItem:'COUTURE Окрашивание корней (до 2 см)',
														price:'1 790',
													},
													{
														subItem:'COUTURE Сложное окрашивание',
														price:'3 590',
													},
													{
														subItem:'COUTURE Тонирование',
														price:'1 890',
													},
													{
														subItem:'ESTEL Блондирование (осветление корней пудрой, в один тон)',
														price:'890',
													},
													{
														subItem:'ESTEL Мелирование красителем (до 15 прядей)',
														price:'1 290',
													},
													{
														subItem:'ESTEL Мелирование пудрой (до 15 прядей)',
														price:'650',
													},
													{
														subItem:'ESTEL Окрашивание (в один тон)',
														price:'1 490',
													},
													{
														subItem:'ESTEL Окрашивание корней (до 2 см)',
														price:'1 350',
													},
													{
														subItem:'ESTEL Сложное окрашивание',
														price:'2 790',
													},
													{
														subItem:'ESTEL Тонирование',
														price:'1 390',
													},
													{
														subItem:'ESTEL Химическая завивка',
														price:'1 390',
													},
													{
														subItem:'MATRIX Блондирование',
														price:'890',
													},
													{
														subItem:'MATRIX Мелирование красителем (до 15 прядей)',
														price:'1 290',
													},
													{
														subItem:'MATRIX Мелирование пудрой (до 15 прядей)',
														price:'890',
													},
													{
														subItem:'MATRIX Окрашивание (в один тон)',
														price:'1 490',
													},
													{
														subItem:'MATRIX Окрашивание корней (до 2 см)',
														price:'1 390',
													},
													{
														subItem:'MATRIX Сложное окрашивание',
														price:'2 790',
													},
													{
														subItem:'MATRIX Тонирование (в один тон)',
														price:'1 690',
													},
												]
									},
									{
										item:"Уход за волосами",
										subItems:[ 
													{
														subItem:'ESTEL SPA-экранирование Q3',
														price:'990',
													},
													{
														subItem:'ESTEL Витамины для волоc (хэк)',
														price:'350',
													},
													{
														subItem:'ESTEL Восстановление натурального цвета волос',
														price:'1 190',
													},
													{
														subItem:'ESTEL Защита волос Eplex HC (1 ампула)',
														price:'990',
													},
													{
														subItem:'ESTEL Кератиновое насыщение волос',
														price:'590',
													},
													{
														subItem:'ESTEL Уход для мужчин AH Carbon Turbo',
														price:'190',
													},
													{
														subItem:'ESTEL Уход для мужчин AH Carbon Turbo Express',
														price:'90',
													},
													{
														subItem:'ESTEL Уход по типу волос',
														price:'190',
													},
													{
														subItem:'ESTEL Экранирование',
														price:'690',
													},
													{
														subItem:'MATRIX Глубокий уход и восстановление Biolage \n(биоуход, подбирается по типу волос)',
														price:'590',
													},
													{
														subItem:'MATRIX Защита цвета Oil Wonders \n(сохраняет яркость цвета окрашенных волос, на 75% больше блеска)',
														price:'390',
													},
													{
														subItem:'MATRIX Ламинирование',
														price:'1 990',
													},
													{
														subItem:'MATRIX Маска глубокого восстановления Total Treat \n(интенсивный восстанавливающий уход для ослабленных волос)',
														price:'390',
													},
													{
														subItem:'MATRIX Молекулярный уход "Восстанавливающее Омбре"',
														price:'690',
													},
													{
														subItem:'MATRIX Уход Бондинг"',
														price:'650',
													},
													{
														subItem:'MATRIX Уход Бондинг в окрашивании"',
														price:'550',
													},
													{
														subItem:'MATRIX Уход Бондинг осветление"',
														price:'850',
													},
													{
														subItem:'YBERA BOTULINICA CAPILAR (омоложение волос)"',
														price:'3 290',
													},
													{
														subItem:'YBERA FASHION STYLIST CRÈME (выпрямление и питание волос)"',
														price:'3 290',
													},
													{
														subItem:'YBERA FASHION STYLIST PLATINUM (выпрямление волос)"',
														price:'3 290',
													},
													{
														subItem:'Полировка волос"',
														price:'1 690',
													},
												]
									},
									],
						},
						{
							text:"Ногтевой сервис",
							filter:"nail",
							href:'#',
							items:[
									{
										item:"Маникюр",
										subItems:[ 
													{
														subItem:'Eвропейский маникюр',
														price:'390',
													},
													{
														subItem:'Аппаратный маникюр',
														price:'490',
													},
													{
														subItem:'Бразильский маникюр',
														price:'890',
													},
													{
														subItem:'Детский маникюр',
														price:'150',
													},
													{
														subItem:'Комбинированный маникюр',
														price:'490',
													},
													{
														subItem:'Маникюр классический',
														price:'390',
													},
													{
														subItem:'Мужской маникюр',
														price:'550',
													},
													{
														subItem:'Придание формы ногтям / полировка',
														price:'190',
													},
													{
														subItem:'Снятие гель-лака (в составе другой услуги)',
														price:'190',
													},
												]
									},
									{
										item:"Моделирование и коррекция",
										subItems:[ 
													{
														subItem:'Коррекция под лак (гель, акрил)',
														price:'1 350',
													},
													{
														subItem:'Коррекция френч (гель, акрил)',
														price:'1 950',
													},
													{
														subItem:'Лунный маникюр (стойкое покрытие)',
														price:'590',
													},
													{
														subItem:'Моделирование под лак (гель, акрил)',
														price:'1 790',
													},
													{
														subItem:'Моделирование френч (гель, акрил)',
														price:'2 250',
													},
													{
														subItem:'Ремонт 1 ногтя френч (гель, акрил)',
														price:'230',
													},
													{
														subItem:'Ремонт 1 ногтя(гель, акрил)',
														price:'190',
													},
													{
														subItem:'Снятие нарощенных ногтей',
														price:'390',
													},
													{
														subItem:'Страза 1 шт',
														price:'80',
													},
													{
														subItem:'Художественный дизайн (омбре, бархатный песок, пегмент)',
														price:'590',
													},
													{
														subItem:'Художественный дизайн 1 ногтя',
														price:'90',
													},
												]
									},
									{
										item:"Педикюр",
										subItems:[ 
													{
														subItem:'Мужской педикюр',
														price:'1 450',
													},
													{
														subItem:'Педикюр аппаратный',
														price:'1 290',
													},
													{
														subItem:'Педикюр бразильский',
														price:'1 390',
													},
													{
														subItem:'Педикюр классический',
														price:'890',
													},
													{
														subItem:'Педикюр комбинированный',
														price:'1 290',
													},
												]
									},
									{
										item:"Покрытия",
										subItems:[ 
													{
														subItem:'Биоламинирование ногтевой пластины',
														price:'1 200',
													},
													{
														subItem:'Лечебное покрытие',
														price:'90',
													},
													{
														subItem:'Покрытие гель-лак',
														price:'890',
													},
													{
														subItem:'Покрытие гель-лак френч',
														price:'1 090',
													},
													{
														subItem:'Покрытие лак',
														price:'190',
													},
													{
														subItem:'Покрытие лак френч',
														price:'250',
													},
													{
														subItem:'Снятие гель-лака',
														price:'290',
													},
													{
														subItem:'Снятие лака',
														price:'90',
													},
													{
														subItem:'Стойкое покрытие',
														price:'350',
													},
													{
														subItem:'Стойкое покрытие френч',
														price:'410',
													},
													{
														subItem:'Укрепление ногтевой пластины IBX',
														price:'590',
													},
												]
									},
									],
						},
						{
							text:"Косметология",
							filter:"cosmetology",
							href:'#',
							items:[
									{
										item:"Депиляция",
										subItems:[ 
													{
														subItem:'Бикини',
														price:'890',
													},
													{
														subItem:'Верхняя губа',
														price:'190',
													},
													{
														subItem:'Глубокое бикини',
														price:'1 290',
													},
													{
														subItem:'Голени',
														price:'390',
													},
													{
														subItem:'Ноги полностью',
														price:'790',
													},
													{
														subItem:'Подбородок',
														price:'190',
													},
													{
														subItem:'Подмышечные впадины',
														price:'290',
													},
													{
														subItem:'Руки до локтя',
														price:'290',
													},
													{
														subItem:'Руки полностью',
														price:'590',
													},
												]
									},
									{
										item:"Очищение и уход за кожей",
										subItems:[ 
													{
														subItem:'Анти - возрастной уход',
														price:'1 590',
													},
													{
														subItem:'Глубокое очищение (для проблемной кожи)',
														price:'1 590',
													},
													{
														subItem:'Комплексный уход (очищение, пилинг, моделирующая процедура, \nмаска, тонизация, дарсонваль, увлажнение и защита)',
														price:'1 490',
													},
													{
														subItem:'Питание и восстановление (очищение, ферментный пилинг, моделирующая \nпроцедура, маска-антистресс, тонизация, увлажнение и защита)',
														price:'1 390',
													},
													{
														subItem:'Стимулирующий уход (дарсонваль)',
														price:'250',
													},
													{
														subItem:'Увлажнение и уход (очищение, пилинг, моделирующая \nпроцедура, маска, тонизация, увлажнение)',
														price:'1 490',
													},
													{
														subItem:'Уход за кожей вокруг глаз',
														price:'790',
													},
													{
														subItem:'Чистка ультра-звуком',
														price:'1 190',
													},
													{
														subItem:'Экспресс уход (очищение, пилинг, тонизация, питание и увлажнение кожи)',
														price:'990',
													},
												]
									},
									{
										item:"Моделирующая процедура",
										subItems:[ 
													{
														subItem:'Классическая моделирующая процедура (20 мин., поднимает тонус и эластичность кожи, улучшает цвет лица)',
														price:'550',
													},
													{
														subItem:'Моделирующая процедура воротниковой зоны',
														price:'490',
													},
													{
														subItem:'Расслабляющая процедура рук',
														price:'190',
													},
													{
														subItem:'Стимулирующая моделирующая процедура (35 мин., повышает тургор кожи, при избыточном количестве подкожно-жировой клетчатки)',
														price:'590',
													},
													{
														subItem:'Эстетическая моделирующая процедура (рекомендуется при решении таких проблем как рубцы, пятна, себорея)',
														price:'390',
													},
												   
												]
									},
									{
										item:"Уход",
										subItems:[ 
													{
														subItem:'Глубокое питание рук',
														price:'290',
													},
													{
														subItem:'Глубокое питание стоп',
														price:'320',
													},
													{
														subItem:'Парафинотерапия рук',
														price:'250',
													},
													{
														subItem:'Парафинотерапия стоп',
														price:'280',
													},
													{
														subItem:'Расслабляющая процедура рук',
														price:'190',
													},
													{
														subItem:'Расслабляющая процедура стоп',
														price:'220',
													},
													{
														subItem:'Скраб рук',
														price:'190',
													},
													{
														subItem:'Скраб стоп',
														price:'220',
													},
												   
												]
									},
									
									],
						},
						{
							text:"Массаж",
							filter:"massage",
							href:'#',
							items:[
									{
										item:"Депиляция",
										subItems:[ 
													{
														subItem:'Бикини',
														price:'890',
													},
												]
									},
								
								],
						},
						{
							text:"Солярий",
							filter:"solarium",
							href:'#',
							items:[
									{
										item:"Депиляция",
										subItems:[ 
													{
														subItem:'Бикини',
														price:'890',
													},
												]
									},
								
								],
						},
					];
					