include PriceData.pug

mixin Price
		section.Container
			h2.Title
				span.Title__text Наши цены
			ul.Price__filters
				each x in Prices
					li(class='Price__filter' data-price-filter=x.filter)
						+btn(x.text,' btn_line',x.href)
			div.Price__container
				each filter in Prices
					div(class="Price__section" data-price-section= filter.filter)
						if filter.items 
							each item in filter.items
								div.Price__items
									h4(class='Price__item' ) #{item.item}
									ul.Price__subItems
										if item.subItems 
											each x in item.subItems
												li(class='Price__subItem' )
													h4.Price__subItemTitle= x.subItem
													span.Price__subItemDivider
													span.Price__subItemPrice= x.price + ' руб.'