- 
	let bannerData = [
							{	
								src: ImagesData["2"]["names"]["1220x600"],
								alt: ImagesData["2"]["alt"],
								title : 'Побалуйте себя',
								caption: 'С нашей интенсивной обработкой',
								text:'Салоны красоты – это оазис прекрасного среди повседневных забот и суеты, а также наслаждение от приятных'
							},
							{	
								src: ImagesData["4"]["names"]["1500x600"],
								alt: ImagesData["4"]["alt"],
								title : 'Быть красивой легко',
								caption: 'Начни с прически',
								text:'Салоны красоты – это оазис прекрасного среди повседневных забот и суеты, а также наслаждение от приятных'
							},
							{	
								src: ImagesData["16"]["names"]["1642x600"],
								alt: ImagesData["16"]["alt"],
								title : 'Побалуйте себя',
								caption: 'С нашей интенсивной обработкой',
								text:'Салоны красоты – это оазис прекрасного среди повседневных забот и суеты, а также наслаждение от приятных'
							},
						]