- 
	let bannerData = [
							{	
								src:'../img/2-1220x600.png',
								title : 'Побалуйте себя',
								caption: 'С нашей интенсивной обработкой',
								text:'Салоны красоты – это оазис прекрасного среди повседневных забот и суеты, а также наслаждение от приятных'
							},
							{	
								src:'../img/4-1500x600.png',
								title : 'Быть красивой легко',
								caption: 'Начни с прически',
								text:'Салоны красоты – это оазис прекрасного среди повседневных забот и суеты, а также наслаждение от приятных'
							},
							{	
								src:'../img/16-1642x600.png',
								title : 'Побалуйте себя',
								caption: 'С нашей интенсивной обработкой',
								text:'Салоны красоты – это оазис прекрасного среди повседневных забот и суеты, а также наслаждение от приятных'
							},
						]