- 
	let BreadcrumbData = (()=> {
							return {
								BredcrumbForPortfolio:[
									{
									title:"Главная",
									href:"index.html"
									},
								],	
								BredcrumbForAboutUs:[
									{
									title:"Главная",
									href:"index.html"
									},
								],	

							}
						})()


