include BreadcrumbDate.pug

mixin Breadcrumb(activeTitle,y,className='')
	nav.Breadcrumb(class=" "+className)
		.Container
			each i in BreadcrumbData[y]
				a.Breadcrumb__item(href=i.href)= i.title
			span.Breadcrumb__item.Breadcrumb__item_active= activeTitle
