.Skills
	display flex
	padding: 7rem 0
	&__Img
		display block
		max-width 100%
		padding: 2rem
	&__Gallary
		width: 60%
	&__Content
		width: 40%;
		padding: 0 2rem
	&__Title
		text-transform: uppercase
		color: $c_black
		font-family $ff_0
		font-size 18px
		text-align: left
		font-weight: 400
		padding: 2rem 0
	&__Text
		color: $c_black_2
		font-family $ff_0
		font-size 15px
		text-align: left
		font-weight: 300
		padding: 1.5rem 0
		line-height 1.5
	&__TeamImg
		max-width 100%;

