include AboutUsDate.pug

mixin AboutUs 
	.AboutUs.Container
		.AboutUs__Contents
			each val in AboutUsContentDate
				.AboutUs__Content
					img.AboutUs__Content-img(src="../img/"+val.src, alt= val.alt)
					h3.AboutUs__Content-title= val.title
					p.AboutUs__Content-text= val.text
		.AboutUs__Persons
			each person in AboutUsPersonDate
				+Person(person)




