mixin Logo(c='')
	div(class='Logo ' + c)
		a.logo__link(href= LinksData['pages']['index']['href'])
			img.Logo__img(src= "img/" + ImagesData['logo']['names']['383x354'])(alt= ImagesData['logo']['alt'])
		