.Icons
    height 2rem
    width 2rem
    fill $c_black_1
.Icons_light
	height 2.5rem
	width 2.5rem
	cursor pointer
	fill $c_white
.Icons_black
	height 2.5rem
	width 2.5rem
	cursor pointer
	fill $c_white
