.AboutUs
    padding: 5rem 0
// //Content
.AboutUs__Contents
    display flex


.AboutUs__Content
    padding: 2rem 2rem 5rem 2rem
    font-family $ff_0
.AboutUs__Content-img
    max-width 100%


.AboutUs__Content-title
    font-family inherit
    font-size 1.7rem
    padding: 2rem 0
    color: $c_black
    letter-spacing: 1px
.AboutUs__Content-text
    font-family inherit
    font-size 1.5rem
    font-style italic
    color: $c_black_2
    line-height 1.5

// //Person
.AboutUs__Persons
    display flex
    justify-content center