.PortfolioGallary__item
    width: 40rem
.PortfolioGallary__items
    overflow hidden
    // display flex
.grid-item 
  float: left;
  width: 300px;
  background: #e6e5e4;
  border: 2px solid #b6b5b4;
.grid-item::after
    content ""
    clear both