$PortfolioGallary__filter-mr = 1rem

.PortfolioGallary__items
	margin: 0 auto
	&::after
		content: ""
		display block
		clear: both
.PortfolioGallary__item
	width: 33%
.PortfolioGallary__filters
	list-style: none
	padding: 4rem 0
	text-align: center
.PortfolioGallary__filter
	display inline-block
	padding: 1rem
	color $c_black
	font-size 1.4rem
.PortfolioGallary__filter:hover,
.PortfolioGallary__filter:focus,
.PortfolioGallary__filter_active
	color $c_main
.PortfolioGallary__filter:not(:first-child)
	cursor pointer
.PortfolioGallary__filter:not(:first-child) +.PortfolioGallary__filter::before
	content: "/"
	color $c_black
	margin-right $PortfolioGallary__filter-mr
.PortfolioGallary__filter-icon
	fill $c_black

