.Price
	&__filter
		display: block
	&__filter + &__filter
		margin-left:0
		margin-top:1rem
	&__container
		width: 100%
		margin: 0
		padding:  4rem 1.5rem
	&__subItem
		padding: 1rem 1rem 1rem 2rem
	&__item
		margin: 1rem 0
		font-size 1.4rem
	&__subItemTitle
		font-size 1.4rem
	&__subItemPrice
		font-size 1.4rem