
.Person
    width: 33%
    margin: 0 2rem
    padding: 1.5rem 0
    border-bottom 1px solid $c_black_3
.Person:hover .Person__img
    transform: translateY(-6rem)
.Person:hover .Person__text
    bottom: 0%
.Person__Container
    width 100%
    overflow hidden
    position relative
.Person__img
    max-width 100%
    width:  100%
    display block
    transition:  0.4s
.Person__text
    font-size 1.4rem
    color: $c_black_2
    font-style italic
    padding: 1.5rem 1.5rem
    line-height 1.5
    transition: all 0.4s
    position absolute
    bottom -50%
    background-color: $c_white
.Person__Content
    text-align: center
    letter-spacing: 1px
.Person__title
    font-size 1.7rem
    font-weight 700
    color: $c_black
    padding: 2rem 0 1rem 0
    text-transform: capitalize
    letter-spacing: inherit
.Person__caption
    font-size 1.4rem
    font-weight 300
    color: $c_black_2
    letter-spacing: inherit


