mixin Panel(title)
    section.Panel
        +Nav('Nav_view_ghost')
        .Container.Panel__Container
            h2.Panel__Title= title           
            +Breadcrumb(currentPage,"BredcrumbForAboutUs",'Bredcrumb_view_ghost')
            
            