include ../Page-config/Page-config
include ../TopLine/pug/TopLine
include ../Nav/pug/Nav
include ../Banner/pug/Banner
include ../Breadcrumb/pug/Breadcrumb
include ../PageHeading/pug/PageHeading
include ../Footer/pug/Footer
include ../AboutUs/pug/AboutUs



- let currentPage = "О Нас"

doctype html
head
	+Page-config
body
	// Begin TopLine
	+TopLine('Container')
	// End TopLine
	//Begin nav	
	+Nav
	// End nav
	//Begin PageHeading
	+PageHeading(currentPage)
	// End PageHeading
	//Begin Breadcrumb
	+Breadcrumb(currentPage,"BredcrumbForAboutUs")
	// End Breadcrumb
	//Begin AboutUs
	+AboutUs
	// End AboutUs

	//Begin Footer
	+Footer
	// End Footer


	+Page-config__scripts
