include ../Data/ImagesData.pug
include ../Data/LinksData.pug


include ../TopLine/TopLine
include ../Btn/Btn.pug
include ../Logo/Logo.pug
include ../ImageCard/ImageCard.pug
include ../Person/Person
include ../Nav/Nav
include ../Footer/Footer
include ../Icons/Icons
include ../Breadcrumb/Breadcrumb
include ../PageHeading/PageHeading
include ../AboutUs/AboutUs
include ../Portfolio/Portfolio
include ../Skills/Skills
include ../Gallary/Gallary
include ../Card/Card.pug
include ../Contacts-Section/Contacts-Section
include ../Contacts-info/Contacts-info
include ../Banner/Banner
include ../Poster/Poster
include ../Service-Banner/Service-Banner
include ../Price/Price
include ../Brands/Brands
include ../CreditCard/CreditCard
include ../Panel/Panel
include ../Service-Menu/Service-Menu
include ../Service-Content/Service-Content
doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i', rel='stylesheet')
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet")
		link(rel='stylesheet', href='css/lib.css')
		link(rel='stylesheet', media='all',                href='/css/desktop-small.css')
		link(rel='stylesheet', media='(max-width: 1199px)', href='/css/tablet-large.css',)
		link(rel='stylesheet', media='(max-width: 991px)',  href='/css/tablet-small.css',)
		link(rel='stylesheet', media='(max-width: 767px)',  href='/css/phone-large.css',)
		link(rel='stylesheet', media='(max-width: 575px)',  href='/css/phone-small.css',) 
		link(rel='shortcut icon', type='image/png', href='img/logo-383x354.png')
		title Салон красоты
	body
	
		block var
		block header
		block main
		block footer
		block scripts
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
			script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
			script(src="js/lib.js")
			script(src="js/all.js")
			script
				|svg4everybody()
			<script type="text/javascript" > 
			|(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter50068513 = new Ya.Metrika2({ id:50068513, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); 
			|</script> 
			|<noscript>
			|<div><img src="https://mc.yandex.ru/watch/50068513" style="position:absolute; left:-9999px;" alt="" /></div>
			|</noscript>
