include ../Page-config/Page-config
include ../TopLine/pug/TopLine
include ../Nav/pug/Nav
include ../Banner/pug/Banner
include ../Contacts/pug/Contacts
include ../Footer/pug/Footer




- let currentPage = "Контакты"

doctype html
head
	+Page-config
body
	// Begin TopLine
	+TopLine('Container')
	// End TopLine
	//Begin nav	
	+Nav
	// End nav
	//Begin Contacts
	+Contacts
	// End Contacts

	//Begin Footer
	+Footer
	// End Footer


	+Page-config__scripts
