include ../Page-config/Page-config
include ../TopLine/pug/TopLine
include ../Nav/pug/Nav
include ../Banner/pug/Banner
include ../Breadcrumb/pug/Breadcrumb
include ../PageHeading/pug/PageHeading
include ../Gallary/pug/Gallary
include ../Footer/pug/Footer



- let currentPage = "Галерея"

doctype html
head
	+Page-config
body
	// Begin TopLine
	+TopLine('Container')
	// End TopLine
	//Begin nav	
	+Nav
	// End nav
	//Begin PageHeading
	+PageHeading(currentPage)
	// End PageHeading
	//Begin Breadcrumb
	+Breadcrumb(currentPage,"BredcrumbForPortfolio")
	// End Breadcrumb
	//Begin Gallary
	+Gallary
	// End Gallary
	//Begin Footer
	+Footer
	// End Footer


	+Page-config__scripts
