include ../Page-config/Page-config
include ../TopLine/pug/TopLine
include ../Nav/pug/Nav
include ../Banner/pug/Banner
include ../Poster/pug/Poster
include ../ServiceBanner/pug/ServiceBanner
include ../Portfolio/pug/Portfolio
include ../Price/pug/Price
include ../Footer/pug/Footer



- let currentPage = "Главная"


doctype html
head
	+Page-config
body
	// Begin TopLine
	+TopLine('Container')
	// End TopLine
	//Begin nav	
	+Nav()
	// End nav
	// Begin Banner
	+Banner()
	// End Banner
	// Begin Poster
	+Poster('С ПОНЕДЕЛЬНИКА ПО СУББОТУ С 8 ДО 17 МЫ ДОСТУПНЫ ДЛЯ ВАС')
	// End Poster
	// Begin ServiceBanner
	+ServiceBanner
	// End ServiceBanner
	// Begin Portfolio
	+Portfolio
	// End Portfolio
	// Begin Price
	+Price
	// End Price
	// Begin Poster
	+Poster('КРАСОТА В ГЛАЗАХ СМОТРЯЩЕГО')
	// End Poster
	// Begin Footer
	+Footer()
	// End Footer
			
	+Page-config__scripts
