include ../Page-config/Page-config
include ../TopLine/pug/TopLine
include ../Nav/pug/Nav
include ../Banner/pug/Banner
include ../Breadcrumb/pug/Breadcrumb
include ../Panel/pug/Panel
include ../Service-menu/pug/Service-menu
include ../Footer/pug/Footer
include ../AboutUs/pug/AboutUs



- let currentPage = "Услуги"

doctype html
head
	+Page-config
body
	// Begin TopLine
	+TopLine('Container')
	// End TopLine
	//Begin Panel
	+Panel(currentPage)
	// End Panel
	//Begin Service-menu
	+Service-menu
	// End Service-menu
	//Begin Footer
	+Footer
	// End Footer


	+Page-config__scripts
