.Contacts-info
    list-style none
    color $c_black_2
    font-size 1.4rem
    font-family $ff_0
    letter-spacing: 1px
    font-weight 300
    &__Item
        display flex
        justify-content space-between
        text-transform: capitalize
        padding-top: 0.8rem
        padding-bottom: 0.8rem
        color $c_black_2
        font-size 1.4rem

    &__Link
        display flex
        align-items: center
        text-decoration: none
        color inherit
        cursor pointer
        &:focus,
        &:focus svg,
        &:hover,
        &:hover svg
            color $c_main
            fill $c_main
    &__Text
        margin-left 1rem
        font-family $ff_0
        font-weight 300


