-
    let ContactsData = [
        {
            href: 'tel:' + LinksData['telephons']['office']['href'],
            name:'Телефон',
            content: LinksData['telephons']['office']['name'],
        },
        //- {
        //-     href:'tel:+79670990890',
        //-     name:'Мобильный',
        //-     content:'+7 967 099 08 90',
        //- },
        {
            href: 'mailto:'+LinksData['emails']['href'],
            name:'Эл. почта',
            content: LinksData['emails']['name'],
        },
        {
            href: LinksData['sites']['href'],
            name:'Сайт',
            content: LinksData['sites']['name'],
        },
    ]