-
    let ContactsData = [
        {
            href: 'tel:' + LinksData['telephons']['office']['href'],
            name:'Телефон',
            content: LinksData['telephons']['office']['name'],
        },
        {
            href:'tel:' + LinksData['telephons']['mobile']['href'],
            name:'Мобильный',
            content:LinksData['telephons']['mobile']['name'],
        },
        {
            href: 'mailto:'+LinksData['emails']['href'],
            name:'Эл. почта',
            content: LinksData['emails']['name'],
        },
        {
            href: LinksData['sites']['href'],
            name:'Сайт',
            content: LinksData['sites']['name'],
        },
    ]