.Context
	&__Title
		color: $c_black_4
		font-size 20px
		font-family $ff_0
		line-height 1.5
		padding: 10px 0
	&__Paragraph
		color: $c_black_2
		font-family $ff_0
		line-height 1.7
		font-size: 16px
		padding: 10px 0
	&__Paragraph:first-letter
		margin-left: 20px  
	&__List
		list-style-position inside
		padding-left: 20px
	&__List-item
		color: $c_black_2
		font-size 16px
		font-family $ff_0
		line-height 1.5
		padding: 10px 0


