
-	
	let navData = {
				navItems: [
								{
									title: LinksData['pages']['index']['name'],
									href: LinksData['pages']['index']['href']
								},
								{
									title: LinksData['pages']['gallary']['name'],
									href: LinksData['pages']['gallary']['href'],
								},
								{
									title: LinksData['pages']["service-all"]['name'],
									href: LinksData['pages']["service-all"]['href'],
									subItems: [
												{
													title: LinksData['pages']["service-makeup"]['name'],
													href: LinksData['pages']["service-makeup"]['href'],
												},
												{
													title: LinksData['pages']["service-hairStyling"]['name'],
													href: LinksData['pages']["service-hairStyling"]['href'],
												},
												{
													title: LinksData['pages']["service-nailart"]['name'],
													href: LinksData['pages']["service-nailart"]['href'],
												},
												{
													title: LinksData['pages']["service-cosmetology"]['name'],
													href: LinksData['pages']["service-cosmetology"]['href'],
												},
												{
													title: LinksData['pages']["service-massage"]['name'],
													href: LinksData['pages']["service-massage"]['href'],
												},
												{
													title: LinksData['pages']["service-solarium"]['name'],
													href: LinksData['pages']["service-solarium"]['href'],
												},
											],
								},
								{
									title: LinksData['pages']["aboutUs"]['name'],
									href: LinksData['pages']["aboutUs"]['href'],
								},
								{
									title: LinksData['pages']["contacts"]['name'],
									href: LinksData['pages']["contacts"]['href']
								},
							],
					}	


