.Banner__stage
	height 35rem
.Banner__title
	font-size 3rem
.Banner__caption
	font-size 2rem
.Banner__text
	display none
.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev
	font-size: 4.8rem
