.TopLine
    background-color $c_main
.TopLine__container
    min-height 4rem
.TopLine__flex
    display flex
    justify-content flex-end
    align-items: center
    height 4rem
.TopLine__box
    display block
.TopLine__item 
    position relative
    display inline-block
    margin-right 2rem
    padding-left 4rem
    text-decoration none
    cursor pointer
.TopLine__icon
    display inline-block
    height 2rem
    width 2rem
    margin-right 2rem
.TopLine__item-time
    cursor default
.TopLine__content 
    color $c_black_1
    display inline-block
    font-size 1.6rem
    font-family $ff_1
.TopLine__arrow
    display none
.TopLine__icon
    position absolute
    top 50%
    left: 0%
    margin-top: -1rem
