@import '0-xl*.styl'
@import '1-lg*.styl'

.TopLine
.TopLine__container
    position relative
.TopLine__box
    display none  
.TopLine__flex
    display block
    text-align center
    padding 1.5rem 0
    height auto
.TopLine__item
    display table
    margin 1rem auto
.TopLine__content
    width: 14rem
.TopLine__arrow
    display block
    margin 0 auto
    cursor pointer
.TopLine__arrow_top
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
