@import '0-xl*.styl'
@import '1-lg*.styl'
.Banner__stage
	height 40rem
.Banner__imgBox
	display none
.Banner__content
	display flex
	flex-direction: column
	align-items: center
	width: 100%
	text-align: center
	top:50%
	left 50%
	transform: translate(-50%,-50%)
.Banner__title
	font-size 5rem
.Banner__caption
	font-size 3rem
.Banner__text
	padding: 2rem 1.5rem
	font-size 1.5rem

.owl-carousel .owl-item.active .Banner__content
	opacity 1
	visibility visible
	transform: scale(1) translate(-50%,-50%) 