@import '0-xl*.styl'
@import '1-lg*.styl'
@import '2-md*.styl'
.Banner
.Banner__stage
		height 35rem
.Banner__title
		font-size 4rem
.Banner__caption
		font-size 2rem
.Banner__text
		display none
.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev
	font-size: 6rem
