
-	
		let navItems ={
				"navItems01": [
								{
									title:"Главная",
									href:"index.html",
								},
								{
									title:"Наш опыт",
									href:"portfolio.html",
								},
								{
									title:"Услуги",
									href:"#",
									subItems: 'navItems02'
								},
								{
									title:"Галерея",
									href:"#",
								},
								{
									title:"О Нас",
									href:"#",
								},
								{
									title:"Контакты",
									href:"#",
								},
							],
				"navItems02": [
								{
									title:"Визаж и макияж",
									href:"#",
								},
								{
									title:"Парикмахерские услуги",
									href:"#",
								},
								{
									title:"Ногтевой сервис",
									href:"#",
								},
								{
									title:"Косметология",
									href:"#",
								},
							],
					}	


