-	let  navigationMenuItmes =	[		
									{
										title:"Главная",
										href:"#",
									},
									{
										title:"Наш опыт",
										href:"#",
									},
									{
										title:"Услуги",
										href:"#",
										subMenuItems:
											[
												{
													title:"Визаж и макияж",
													href:"#",
												},
												{
													title:"Парикмахерские услуги",
													href:"#",
												},
												{
													title:"Ногтевой сервис",
													href:"#",
												},
												{
													title:"Косметология",
													href:"#",
												},
											]
									},
									{
										title:"Галерея",
										href:"#",
									},
									{
										title:"О Нас",
										href:"#",
									},
									{
										title:"Контакты",
										href:"#",
									},
								];

