- 
	let
		ImagesData = {
						"logo":{
							names:{
								"383x354":"logo-383x354.png",
								"921x1387":"logo-921x1387.png",

							},
							alt:"Логотип",
						},
						"1":{
							names:{
								"767x511":"1-767x511.jpg"
							},
							alt:"",
						},
						"2":{
							names:{
								"360x267":"2-360x267.jpg",
								"767x511":"2-767x511.jpg",
								"1220x600":"2-1220x600.png"
							},
							alt:"",
						},
						"3":{
							names:{
								"360x267":"3-360x267.jpg"
							},
							alt:"",
						},
						"4":{
							names:{
								"360x194":"4-360x194.jpg",
								"360x267":"4-360x267.jpg",
								"1500x600":"4-1500x600.png",
								"1900x530":"4-1900x530.jpg",
							},
							alt:"",
						},
						"5":{
							names:{
								"767x511":"5-767x511.jpg",
							},
							alt:"",
						},
						"6":{
							names:{
								"767x511":"6-767x511.jpg",
								"1900x530":"6-1900x530.png",
							},
							alt:"",
						},
						"7":{
							names:{
								"409x473":"7-409x473.jpg",
								"590x363":"7-590x363.jpg",
							},
							alt:"",
						},
						"8":{
							names:{
								"409x473":"8-409x473.jpg",
								"590x363":"8-590x363.jpg",
							},
							alt:"",
						},
						"9":{
							names:{
								"590x363":"9-590x363.jpg",
							},
							alt:"",
						},
						"10":{
							names:{
								"767x511":"10-767x511.jpg",
							},
							alt:"",
						},
						"11":{
							names:{
								"590x363":"11-590x363.jpg",
								"700x377":"11-700x377.jpg",
							},
							alt:"",
						},
						"12":{
							names:{
								"360x194":"12-360x194.jpg",
							},
							alt:"",
						},
						"13":{
							names:{
								"767x511":"13-767x511.jpg",
							},
							alt:"",
						},
						"14":{
							names:{
								"300x162":"14-300x162.jpg",
								"360x194":"14-360x194.jpg",
								"2200x700":"14-2200x700.jpg",
							},
							alt:"",
						},
						"15":{
							names:{
								"360x194":"15-360x194.jpg",
							},
							alt:"",
						},
						"16":{
							names:{
								"370x199":"16-370x199.jpg",
								"1642x600":"16-1642x600.png",
							},
							alt:"",
						},
						"17":{
							names:{
								"767x511":"17-767x511.jpg",
							},
							alt:"",
						},
						"18":{
							names:{
								"767x511":"18-767x511.jpg",
							},
							alt:"",
						},
						"19":{
							names:{
								"767x511":"19-767x511.jpg",
							},
							alt:"",
						},
						"20":{
							names:{
								"1929x108":"20-1929x108.jpg",
							},
							alt:"",
						},
						"21":{
							names:{
								"1900x530":"21-1900x530.jpg",
							},
							alt:"",
						},
						"22":{
							names:{
								"1900x530":"22-1900x530.jpg",
							},
							alt:"",
						},
						"23":{
							names:{
								"1937x530":"23-1937x530.jpg",
							},
							alt:"",
						},
						"24":{
							names:{
								"370x360":"24-370x360.jpg",
							},
							alt:"",
						},
						"25":{
							names:{
								"370x360":"25-370x360.jpg",
							},
							alt:"",
						},
						"26":{
							names:{
								"370x360":"26-370x360.jpg",
							},
							alt:"",
						},
						"27":{
							names:{
								"800x504":"27-800x504.jpg",
							},
							alt:"",
						},
						"28":{
							names:{
								"360x194":"28-360x194.jpg",
							},
							alt:"",
						},
						"29":{
							names:{
								"360x194":"29-360x194.jpg",
							},
							alt:"",
						},
						"30":{
							names:{
								"360x194":"30-360x194.jpg",
							},
							alt:"",
						},
						"31":{
							names:{
								"590x364":"31-590x364.jpg",
							},
							alt:"",
						},
						"32":{
							names:{
								"590x364":"32-590x364.jpg",
							},
							alt:"",
						},
						"33":{
							names:{
								"409x473":"33-409x473.jpg",
							},
							alt:"",
						},
						"34":{
							names:{
								"360x194":"34-360x194.jpg",
							},
							alt:"",
						},
						"35":{
							names:{
								"409x473":"35-409x473.jpg",
							},
							alt:"",
						},
						"36":{
							names:{
								"590x364":"36-590x364.jpg",
							},
							alt:"",
						},
						"37":{
							names:{
								"590x364":"37-590x364.jpg",
							},
							alt:"",
						},
					}

