-
	let
		LinksData = {
						'telephons':{
							'office':{
								'name':"+7 (495) 900-97-97",
								'href':"+74959009797",
							},
						},
						'emails':{
							'name':"example@yandex.ru",
							'href':"example@yandex.ru",
						},
						'sites':{
							'name':"irisstyle.ru",
							'href': 'index.html',
						},
						'address':{
							'name':"Город Москва, улица Керамический проезд дом 53 корп.1",
							'href': 'contacts.html',
						},
						'pages':{
							"aboutUs":{
								'name':'О Нас',
								'href':'aboutUs.html',
							},
							"contacts":{
								'name':'Контакты',
								'href':'contacts.html',
							},
							"gallary":{
								'name':'Галерея',
								'href':'gallary.html',
							},
							"index":{
								'name':'Главная',
								'href':'index.html',
							},
							"service-all":{
								'name':'Услуги',
								'href':'service-all.html',
							},
							"skills--1":{
								'name':'Горячие рыжие волосы ',
								'href':'skills--1.html',
							},
							"skills--2":{
								'name':'Свадебный стиль волос',
								'href':'skills--2.html',
							},
							"skills--3":{
								'name':'Короткие и гламурные',
								'href':'skills--3.html',
							},
							"skills--4":{
								'name':'Мужская стрижка',
								'href':'skills--4.html',
							},
							"skills--5":{
								'name':'Прическа от кутюр',
								'href':'skills--5.html',
							},
							"skills--6":{
								'name':'Элегантные локоны',
								'href':'skills--6.html',
							},
							"skills--7":{
								'name':'Всплеск цвета',
								'href':'skills--7.html',
							},
							"skills--8":{
								'name':'Смешанные',
								'href':'skills--8.html',
							},
							"skills--9":{
								'name':'Соблазнительные волосы',
								'href':'skills--9.html',
							},
							"service-cosmetology":{
								'name':'Косметология',
								'href':'service-cosmetology.html',
							},
							"service-hairStyling":{
								'name':'Парикмахерские услуги',
								'href':'service-hairStyling.html',
							},
							"service-makeup":{
								'name':'Визаж и макияж',
								'href':'service-makeup.html',
							},
							"service-nailart":{
								'name':'Ногтевой сервис',
								'href':'service-nailart.html',
							},
						}
					}
