-
	let
		LinksData = {
						'telephons':{
							'office':{
								'name':"+7 (495) 900-97-97",
								'href':"+74959009797",
							},
						},
						'emails':{
							'name':"example@yandex.ru",
							'href':"example@yandex.ru",
						},
						'sites':{
							'name':"mySite.ru",
							'href': '#',
						},
						'address':{
							'name':"Город Москва, улица Керамический проезд дом 53 корп.1",
							'href': 'contacts.html',
						},
						'pages':{
							"aboutUs":{
								'name':'О Нас',
								'href':'aboutUs.html',
							},
							"contacts":{
								'name':'Контакты',
								'href':'contacts.html',
							},
							"gallary":{
								'name':'Галерея',
								'href':'gallary.html',
							},
							"index":{
								'name':'Главная',
								'href':'index.html',
							},
							"service-all":{
								'name':'Услуги',
								'href':'service-all.html',
							},
							"Experience--1":{
								'name':'Мужские волосы',
								'href':'Experience--1.html',
							},
							"service-cosmetology":{
								'name':'Косметология',
								'href':'service-cosmetology.html',
							},
							"service-hairStyling":{
								'name':'Парикмахерские услуги',
								'href':'service-hairStyling.html',
							},
							"service-makeup":{
								'name':'Визаж и макияж',
								'href':'service-makeup.html',
							},
							"service-nailart":{
								'name':'Ногтевой сервис',
								'href':'service-nailart.html',
							},
						}
					}
