
-	
		let navData ={
				navItems: [
								{
									title:"Главная",
									href:"index.html",
								},
								{
									title:"Галерея",
									href:"gallary.html",
								},
								{
									title:"Услуги",
									href:"service-all.html",
									subItems: [
												{
													title:"Визаж и макияж",
													href:"service-makeup.html",
												},
												{
													title:"Парикмахерские услуги",
													href:"service-hairStyling.html",
												},
												{
													title:"Ногтевой сервис",
													href:"service-nailart.html",
												},
												{
													title:"Косметология",
													href:"service-cosmetology.html",
												},
											],
								},
								{
									title:"О Нас",
									href:"aboutUs.html",
								},
								{
									title:"Контакты",
									href:"contacts.html",
								},
							],
					}	


