-
    let
        Portfoliofilters = [                                    
                               
                    {
                        name: "Все",
                        group:"all",
                        icon:'all'
                    },
                               
                    {
                        name: "Парикмахерские услуги",
                        group:"space",
                        icon:'scissors'                        
                    },
                               
                    {
                        name: "Визаж и макияж",
                        group:"animal",
                        icon:'eyelash_1' 
                    },
                               
                    {
                        name: "Ногтевой сервис",
                        group:"nature",
                        icon:'fingernail' 
                    },
                    {
                        name: "Косметология",
                        group:"frut",
                        icon:'cosmetology' 
                    },
               
                ]
-
    let
        PortfolioSlides = [                                    
                               
                            {
                               group: 'space all',
                               src:"../img/4.jpg",
                               alt:'aaaaaa',
                               overlayText:'Свадебный стиль волос',
                               href:'#',
                            },
                            {
                               group:'space all' ,
                               src:"../img/9.jpg",
                               alt:'aaaaaa',
                               overlayText:'Короткие и гламурные',
                               href:'#',
                            },
                            {
                               group: 'animal all',
                               src:"../img/21.jpg",
                               alt:'aaaaaa',
                               overlayText:'Короткие и гламурные',
                               href:'#',
                            },
                            {
                               group:'animal nature all',
                               src:"../img/31.jpg",
                               alt:'aaaaaa',
                               overlayText:'Короткие и гламурные',
                               href:'#',
                            },
                            {
                               group:'nature all' ,
                               src:"../img/51.jpg",
                               alt:'aaaaaa',
                               overlayText:'Короткие и гламурные',
                               href:'#',
                            },
                            {
                               group:'nature all',
                               src:"../img/61.jpg",
                               alt:'aaaaaa',
                               overlayText:'Короткие и гламурные',
                               href:'#',
                            },
                               
                            {
                               group: 'space all',
                               src:"../img/4.jpg",
                               alt:'aaaaaa',
                               overlayText:'Свадебный стиль волос',
                               href:'#',
                            },
                            {
                               group:'space all',
                               src:"../img/9.jpg",
                               alt:'aaaaaa',
                               overlayText:'Свадебный стиль волос',
                               href:'#',
                            },
                            {
                               group: 'animal all',
                               src:"../img/21.jpg",
                               alt:'aaaaaa',
                               overlayText:'Короткие и гламурные',
                               href:'#',
                            },
                            {
                               group:'animal nature all',
                               src:"../img/31.jpg",
                               alt:'aaaaaa',
                               overlayText:'Короткие и гламурные',
                               href:'#',
                            },
                            {
                               group:'nature all'  ,
                               src:"../img/51.jpg",
                               alt:'aaaaaa',
                               overlayText:'Короткие и гламурные',
                               href:'#',
                            },
                            {
                               group:'frut all',
                               src:"../img/61.jpg",
                               alt:'aaaaaa',
                               overlayText:'Короткие и гламурные',
                               href:'#',
                            },
                            {
                               group: 'space all',
                               src:"../img/4.jpg",
                               alt:'aaaaaa',
                               overlayText:'Свадебный стиль волос',
                               href:'#',
                            },
                            {
                               group:'space all' ,
                               src:"../img/9.jpg",
                               alt:'aaaaaa',
                               overlayText:'Короткие и гламурные',
                               href:'#',
                            },
                            {
                               group: 'animal all',
                               src:"../img/21.jpg",
                               alt:'aaaaaa',
                               overlayText:'Короткие и гламурные',
                               href:'#',
                            },
                            {
                               group:'animal nature all',
                               src:"../img/31.jpg",
                               alt:'aaaaaa',
                               overlayText:'Короткие и гламурные',
                               href:'#',
                            },
                            {
                               group:'nature all' ,
                               src:"../img/51.jpg",
                               alt:'aaaaaa',
                               overlayText:'Короткие и гламурные',
                               href:'#',
                            },
                            {
                               group:'nature all',
                               src:"../img/61.jpg",
                               alt:'aaaaaa',
                               overlayText:'Короткие и гламурные',
                               href:'#',
                            },
                               
                            {
                               group: 'space all',
                               src:"../img/4.jpg",
                               alt:'aaaaaa',
                               overlayText:'Свадебный стиль волос',
                               href:'#',
                            },
                            {
                               group:'space all',
                               src:"../img/9.jpg",
                               alt:'aaaaaa',
                               overlayText:'Свадебный стиль волос',
                               href:'#',
                            },
                            {
                               group: 'animal all',
                               src:"../img/21.jpg",
                               alt:'aaaaaa',
                               overlayText:'Короткие и гламурные',
                               href:'#',
                            },
                            {
                               group:'animal nature all',
                               src:"../img/31.jpg",
                               alt:'aaaaaa',
                               overlayText:'Короткие и гламурные',
                               href:'#',
                            },
                            {
                               group:'nature all' ,
                               src:"../img/51.jpg",
                               alt:'aaaaaa',
                               overlayText:'Короткие и гламурные',
                               href:'#',
                            },
                            {
                               group:'frut all',
                               src:"../img/61.jpg",
                               alt:'aaaaaa',
                               overlayText:'Короткие и гламурные',
                               href:'#',
                            },
                 
                        ];