/************************
* FONT FAMILY
*************************/
$ff_0 = 'Open Sans','Arial','Helvetica','sans-serif'
$ff_1 = 'PT Sans','Arial','Helvetica','sans-serif'

/************************
* COLOR
*************************/

/*white*/
$c_white=rgb(255, 255, 255);
/*black*/
$c_black=rgb(0, 0, 0);
$c_black_1=rgb(189, 183, 186);
$c_black_2=rgb(146, 146, 146);
$c_black_3=#ececec;
$c_black_4=#141414;
$c_black_5=rgb(13, 13, 13);

/*main*/
$c_main= #990000;
$c_main_1=#f70d0d;
$c_main_2=#990000;
$c_main_3=#990000;
/*distinctive*/

/*accent*/
$c_accent=#f7c40d;