include ../../Data/pug/PortfolioData
include ../../ImageCard/pug/ImageCard.pug

mixin PortfolioGallary
    section.PortfolioGallary.Container
        ul.PortfolioGallary__filters
            li.PortfolioGallary__filter
                +Icons("filter",'Icons_black Icons_small')
            each val in Portfoliofilters
                li.PortfolioGallary__filter(data-portfoliofilter= val.group)= val.name
        .PortfolioGallary__items          
            each val in PortfolioSlides  
                +ImageCard(val,' PortfolioGallary__item')

            